h2 {
    color: white;
}

.signup {
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    width: auto;
    height: 100%;
}

.dark-bg {
    background-color: rgb(31, 31, 31);
    margin: 40px auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 2px;
    justify-content: center;

}

.input {
    margin-top: 2rem;
    width: 200px;
    height: 16px;
    padding: 10px;
    border-radius: 2px;
    border: none;
}

.submit-btn {
    margin-top: 40px;
    width: 8rem;
    height: 2rem;
    border-radius: 2px;
    border: none;
    background-color: darkgreen;
    color: white;

}

.register-link {
    position: relative;
    top: 100px;
}